/* Glassmorphism CSS for MessageForm and CallForm components */

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f3ec78, #af4261);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;

  }
  
  .msg-form, .call-form {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 40px;
    max-width: 370px;
    width: 100%;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 30px;

  }
  
  .msg-form , .call-form  {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
   
  h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 6rem;
    font-size: 36px;
  }
  .msg-form form, .call-form form {
    display: flex;
    flex-direction: column;
  }
  
  .msg-form label, .call-form label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #fff;
    display: block;
  }
  
  .msg-form input[type="text"],
  .msg-form textarea,
  .call-form input[type="text"] {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 16px;
  }
  
  .msg-form input[type="text"]::placeholder,
  .msg-form textarea::placeholder,
  .call-form input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .msg-form input[type="text"]:focus,
  .msg-form textarea:focus,
  .call-form input[type="text"]:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  
  .msg-form .msg-btn, .call-form .btn {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #af4261;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .msg-form .msg-btn:hover, .call-form .btn:hover {
    background-color: #f3ec78;
    color: #af4261;
  }
  
  .msg-form p, .call-form p {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
  }


  


  .footer {
    text-align: center; 
    font-size: 14px; 
    color: #777; 
    margin-top: 40px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }

  .footer p {
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 5px;
  }
  .footer p:last-child {
    margin-bottom: 0;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer a {
    color: #af4261;
    text-decoration: none;
  }
  .powered-by {
    font-weight: bold;
  }
  
  @media screen and (max-width: 1024px) {
    .form {
      padding: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    .msg-form, .call-form {
      padding: 20px;
    }

    .msg-form h1, .call-form h1 {
      font-size: 28px;
    }

    .msg-form label, .call-form label {
      font-size: 16px;
    }

    .msg-form input[type="text"],
    .msg-form textarea,
    .call-form input[type="text"] {
      font-size: 14px;
    }

    .msg-form .msg-btn, .call-form .btn {
      font-size: 16px;
    }
    
  }